*{
    box-sizing: border-box;

}



@font-face {
    font-family: rob;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: open;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.container{
    width: 100%;
    height: 847px;
    background-color:hsla(210, 25%, 16%, 0.05) ;
    
}

.header{
    width:100%;
    height: 847px;
    display: flex;
    justify-content: center;
    }

.nav{
    width: 1320px;
    height: 113px;
    border: 1px solid  red;
    display: flex;
    justify-content: space-between;
}

.coral{
    
    margin-left: 100px;
}

.accounts{
    display: flex;
    column-gap: 22px;
    
}

.btns{
    height: 21px;
    display: flex;
    font-size: 18px;
    column-gap: 8px;
    font-family: rob;

}

.line{
    width: 1320px;
    margin-top: 59px;
    position: absolute;
    border: 1px solid hsla(0, 0%, 89%, 1);
}

.menu{
    position: absolute;
   display: flex;
   
}

ul{
    display: flex;
    font-size: 16px;
    font-family: open;
    margin-top: 80px;
    justify-content: space-between;
    
}

.product{
    width: 1226px;
    height: 562px;
    margin-top: 226px;
    border: 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
}

.coll{
    font-size: 74px;
    font-family: rob;
    line-height: 55px;
}

.parragraf{
    font-size: 30px;
    font-family: rob;
    line-height: 55px;
}

.but{
    width: 223px;
    height: 72px;
    font-size: 29px;
   padding-left: 26px;
    font-family: rob;
    color: white;
    background-color: hsla(210, 25%, 16%, 1);
}

.svd{
   position: absolute;
   left:20px;
}
















